html, body, #root{
  min-height: 100vh;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

div, p, h1,h2,h3,h4,h5,h6,ul,li,dl,dt, dd{
  margin: 0;
  padding: 0;
}

.input{
  border: none;
  outline: none;
  padding: 0 10px;
  height: 20px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #ccc;
  transition: border 300ms;
}
.input:focus{
  border-bottom: 1px solid salmon;
}
input:-webkit-autofill { 
  box-shadow: 0 0 0px 1000px white inset !important;
}

.button{
  background-color: salmon;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 40px;
  border-radius: 6px;
  margin-top: 10px;
}
.button:active{
  background-color: rgb(235, 104, 90);
}


.__app_bg {
  background: linear-gradient(180deg, #a6c0fe 20%, #fa9c9f 100%);
  height: 100%;
  animation: gradient 10s infinite;
}

@keyframes gradient {
  0% { background: rgb(166, 192, 254, .33);}
  70% { background: rgb(166, 192, 254, 1);}
  100% { background: rgb(166, 192, 254, .33);}
}
